@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --primary: #5DA0A2;
    --secondary: #AEA16A;
    --text-light: #EEEEEE;
    --text-dark: #666666;
    --text-blue: #34495E;
    --background1: #F4F7F7;
    --background2: #34495E;
    --background3: #1A1A1A;
    --background4: #333333;
    --background5: #FFFFFF;
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: transparent;
    color: var(--text-light);
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--text-light);
    font-weight: 600;
}

h1 {
    font-size: 2.0em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: .7em;
}

a {
    text-decoration: none;
    color: var(--text-dark);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.disabled {
    color: #bbb !important;
    cursor: initial;
}

.btn-primary {
    background: transparent;
    padding: 0.8em 1.8em 0.8em 1.8em;
    color: var(--text-dark);
    font-size: .7em;
    font-weight: 700;
    display: inline-block;
    border: 3px solid var(--text-dark);
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.btn-primary:hover {
    color: var(--primary);
    border: 3px solid var(--primary);
}

.wrapper {
    padding: 0 1.5em;
    max-width: 1200px;
    margin: 0 auto;
}

.loading {
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.loading img {
    margin: auto;
    display: block;
    width: 100px;
}

.api-content h2 {
    color: var(--text-dark);
    font-size: 1.5em;
}

.api-content h4 {
    color: var(--text-dark);
    font-size: 0.9em;
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 19px;
    }

    .wrapper{
        padding: 0 3em;
    }
}

@media only screen and (min-width: 992px) {
    body {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1300px) {
    .wrapper {
        padding: 0;
    }
}